@keyframes expand-intro-text-border {
    0% {
        width: 0%;
    }
    100% {
        width: 20%;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(200%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-200%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes intro-text-pop {
    0% {
        transform: translateY(-50%) scale(1.0);
    }
    10% {
        transform: translateY(-50%) scale(1.1);
    }
    100% {
        transform: translateY(-50%) scale(1.0);
    }
}

@keyframes project-page-title-expand {
    0% {
        top: 0px;
    }
    100% {
        top: calc(50% + var(--defaultpadding));
        transform: translateY(0px);
        color: black;
        text-shadow: none;
    }
}

@keyframes project-page-title-reset {
    0% {
        top: calc(50% + var(--defaultpadding));
    }
    100% {
        top: 0px;
    }
}

@keyframes project-page-close-button-bar-expand {
    0% {
        width: 10vw;
    }
    100% {
        width: 50vw;
    }
}

@keyframes close-text-bounce {
    0% {
        margin-right: 0px;
    }
    35% {
        margin-right: 15px;
    }
    65% {
        margin-right: 15px;
    }
    100% {
        margin-right: 0px;
    }
}