/* About */
#about {
    overflow: hidden;
    margin-top: 0px;
}

#about .loading-graphic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50%;
    text-align: center;
}
#about.active .loading-graphic {
    animation: loading-graphic-right-position 0.5s forwards 1.0s;
}
#about .loading-graphic img {
    position: absolute;
    max-height: 100%;
    height: 100%;
    width: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    animation: rotate-loading-graphic 10.0s infinite linear;
}

#about .about-background {
    position: absolute;
    top: 50%;
    left: -200vw;
    right: 0px;
    bottom: 0px;
    width: 150%;
    height: 150%;
    transform: translate(-50%, -50%) rotate(-9deg);
    background-color: var(--lightorange);
    transition: 0.5s;
    transition-delay: 0.75s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
#about.active .about-background {
    left: 10%;
    box-shadow: 20px 20px 0px rgba(0, 0, 0, 0.5);
}
#about .about-background::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 5%;
    height: 200%;
    width: 30%;
    transform: translateY(-50%) rotate(18deg);
    background-color: white;
    opacity: 0.15;
    margin-left: -200vw;
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#about.active .about-background::before {
    margin-left: 0px;
}

#about .about-text {
    --border-width: 5px;
    --animation-speed: 0.3s;
    pointer-events: none;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: var(--defaultpadding);
    opacity: 0;
}
#about.active .about-text {
    opacity: 1;
}
#about .about-text::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
    border-bottom: var(--border-width) dotted white;
    margin-left: var(--defaultpadding);
    transition: var(--animation-speed) cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 1.9s;
}
#about.active .about-text::after {
    width: 40%;
}
#about .about-text h1 {
    position: relative;
    font-family: var(--bigheaderfont);
    font-weight: 700;
    font-size: 5vh;
    color: black;
    opacity: 0;
    transform: translateX(-40px);
    transition: var(--animation-speed) cubic-bezier(0.175, 0.885, 0.32, 1.275);;
    transition-delay: 1.5s;
}
#about.active .about-text h1 {
    opacity: 1;
    transform: translateX(0px);
}
#about .about-text p {
    font-family: var(--secondaryfont);
    font-size: 3.5vh;
    opacity: 0;
    transition: var(--animation-speed) cubic-bezier(0.175, 0.885, 0.32, 1.275);;
    transition-delay: 1.2s; 
    transform: translateX(-70px);
}
#about.active .about-text p {
    transform: translateX(0px);
    opacity: 1;
}

/* Projects */
#project-section {
    position: relative;
    width: 100%;
    height: 100%;
}
#project-section .projects-section-header {
    position: relative;
    height: 1.5vh;
    width: 90%;
    right: 0px;
    background-color: var(--orange);
    text-align: right;
    transform: translateY(50%);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 3;
    transition: 0.3s;
}
#project-section .projects-section-header h1 {
    font-family: var(--sectionheaderfont);
    position: absolute;
    font-size: 4vw;
    right: 0px;
    padding: 0px var(--defaultpadding);
    height: auto;
    color: white;
    border-right: .75vw solid var(--orange);
    text-shadow:
        1px 0px 0px lightgray,
        3px 0px 0px darkgray,
        6px 0px 0px gray,
        9px 0px 5px rgba(0, 0, 0, 0.7),
        9px 0px 10px rgba(0, 0, 0, 0.4);
        width: 70%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%);
    transform: translateY(-80%);
}

@media (orientation: portrait) {
    .intro-text h1 {
        font-size: 8vw;
    }
    .intro-text h3 {
        font-size: 4vw;
    }
    .intro-socials .social-icon {
        font-size: 8vw;
    }
    #project-section .projects-section-header {
        width: 100%;
    }
    #project-section .projects-section-header h1 {
        width: 100%;
        font-size: 8vw;
        border-right: 0;
        padding: .8vh var(--defaultpadding);
        text-shadow:
        1px 0px 0px lightgray,
        2px 0px 0px darkgray,
        3px 0px 0px gray,
        4px 0px 5px rgba(0, 0, 0, 0.7),
        4px 0px 10px rgba(0, 0, 0, 0.4);
    }
}

@keyframes open-intro {
    0%, 8% {
        width: 50%;
    }
    20% {
        border-width: 0px;
        width: 45%;
        filter: brightness(1.0);
    }
    22% {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0);
    }
    25% {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    }
    55% {
        width: 45%;
    }
    27%, 100% {
        border-width: 8px;
    }
    100% {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
        width: 0px;
        filter: brightness(1.0);
    }
}

@keyframes rotate-intro {
    0%, 35% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    45% {
        transform: translate(-50%, -50%) rotate(9deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(9deg);
        pointer-events: none;
    }
}

@keyframes expand-lock-border {
    0% {
        border-bottom-width: 0px;
    }
    100% {
        --border-increase-amount: 14px;
        border-bottom-width: var(--border-increase-amount);
        height: calc(var(--intro-lock-size) + var(--border-increase-amount));
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        height: calc(var(--intro-lock-size) * 1.1);
        width: calc(var(--intro-lock-size) * 1.05);
    }
}

@keyframes lock-top-unlock {
    0% {
        height: 40%;
    }
    100% {
        height: 0px;
    }
}

@keyframes lock-container-open {
    0% {
        width: 0px;
        height: 0px;
        border-width: 0px;
    }

    3% {
        height: calc(var(--intro-lock-size) * 2.6);
        width: calc(var(--intro-lock-size) * 2.6);
    }
    7% {
        height: calc(var(--intro-lock-size) * 2.4);
        width: calc(var(--intro-lock-size) * 2.4);
    }
    8%, 90% {
        height: calc(var(--intro-lock-size) * 2.5);
        width: calc(var(--intro-lock-size) * 2.5);
        border-width: 8px;
    }
    100% {
        width: 0px;
        border-width: 0px;
    }
}

@keyframes glare-over-intro {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

@keyframes start-page-background-close {
    0% {
        height: 65vh;
    }
    100% {
        height: 0px;
    }
}

@keyframes rotate-loading-graphic {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes loading-graphic-right-position {
    0% {
        left: 50%;
        transform: translate(-50%, -50%) scale(1.0);
    }
    100% {
        left: 75%;
        transform: translate(-50%, -50%) scale(1.75);
    }
}