/* About */
#about {
    border-top: 1px solid var(--orange);
    background-color: var(--lightorange);
    margin-top: 0px;
}
#about .about-text {
    pointer-events: none;
    --border-width: 5px;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    padding: var(--defaultpadding);
}
#about .about-text::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 40%;
    height: 0px;
    border-bottom: var(--border-width) dotted white;
    /* transform: translateX(-50%); */
    margin-left: var(--defaultpadding);
}
#about .about-text h1 {
    position: relative;
    font-family: var(--bigheaderfont);
    font-weight: 700;
    font-size: 5vh;
    /* text-align: right; */
    color: black;
}
#about .about-text h1::after {
    content: "";
    position: absolute;
    width: 40%;
    height: 0px;
    bottom: 0px;
    left: 0px;
    /* border-bottom: var(--border-width) dashed white; */
    transform: translateY(100%);
    /* margin-left: calc(var(--defaultpadding) * -1); */
}
#about .about-text p {
    font-family: var(--secondaryfont);
    font-size: 3.5vh;
}

/* Projects */
#project-section {
    position: relative;
    width: 100%;
    height: 100%;
}
#project-section .projects-section-header {
    position: relative;
    height: 1.5vh;
    width: 90%;
    right: 0px;
    background-color: var(--orange);
    text-align: right;
    transform: translateY(50%);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 3;
    transition: 0.3s;
}
#project-section .projects-section-header h1 {
    font-family: var(--sectionheaderfont);
    position: absolute;
    font-size: 4vw;
    right: 0px;
    padding: 0px var(--defaultpadding);
    height: auto;
    color: white;
    border-right: .75vw solid var(--orange);
    text-shadow:
        1px 0px 0px lightgray,
        3px 0px 0px darkgray,
        6px 0px 0px gray,
        9px 0px 5px rgba(0, 0, 0, 0.7),
        9px 0px 10px rgba(0, 0, 0, 0.4);
        width: 70%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 70%);
    transform: translateY(-80%);
}

@media (orientation: portrait) {
    .intro-text h1 {
        font-size: 8vw;
    }
    .intro-text h3 {
        font-size: 4vw;
    }
    .intro-socials .social-icon {
        font-size: 8vw;
    }
    #project-section .projects-section-header {
        width: 100%;
    }
    #project-section .projects-section-header h1 {
        width: 100%;
        font-size: 8vw;
        border-right: 0;
        padding: .8vh var(--defaultpadding);
        text-shadow:
        1px 0px 0px lightgray,
        2px 0px 0px darkgray,
        3px 0px 0px gray,
        4px 0px 5px rgba(0, 0, 0, 0.7),
        4px 0px 10px rgba(0, 0, 0, 0.4);
    }
}

@keyframes open-intro {
    0%, 8% {
        width: 50%;
    }
    20% {
        border-width: 0px;
        width: 45%;
        filter: brightness(1.0);
    }
    22% {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0);
    }
    25% {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
    }
    55% {
        width: 45%;
    }
    27%, 100% {
        border-width: 8px;
    }
    100% {
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
        width: 0px;
        filter: brightness(1.0);
    }
}

@keyframes rotate-intro {
    0%, 35% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    45% {
        transform: translate(-50%, -50%) rotate(9deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(9deg);
        pointer-events: none;
    }
}

@keyframes expand-lock-border {
    0% {
        border-bottom-width: 0px;
    }
    100% {
        --border-increase-amount: 14px;
        border-bottom-width: var(--border-increase-amount);
        height: calc(var(--intro-lock-size) + var(--border-increase-amount));
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        height: calc(var(--intro-lock-size) * 1.1);
        width: calc(var(--intro-lock-size) * 1.05);
    }
}

@keyframes lock-top-unlock {
    0% {
        height: 40%;
    }
    100% {
        height: 0px;
    }
}

@keyframes lock-container-open {
    0% {
        width: 0px;
        height: 0px;
        border-width: 0px;
    }

    3% {
        height: calc(var(--intro-lock-size) * 2.6);
        width: calc(var(--intro-lock-size) * 2.6);
    }
    7% {
        height: calc(var(--intro-lock-size) * 2.4);
        width: calc(var(--intro-lock-size) * 2.4);
    }
    8%, 90% {
        height: calc(var(--intro-lock-size) * 2.5);
        width: calc(var(--intro-lock-size) * 2.5);
        border-width: 8px;
    }
    100% {
        width: 0px;
        border-width: 0px;
    }
}

@keyframes glare-over-intro {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

@keyframes start-page-background-close {
    0% {
        height: 65vh;
    }
    100% {
        height: 0px;
    }
}