/* Page itself */
.project-page {
    position: relative;
    background-color: var(--lightgray);
    padding: var(--defaultpadding);
}
#project-section .project-page:first-child::before,
.project-page::after {
    content: "";
    position: absolute;
    width: 150%;
    left: 50%;
    bottom: 0px;
    height: 1.5vh;
    transform: translate(-50%, 50%) rotate(0.3deg);
    background-color: var(--darkblue);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
    z-index: 3;
}
#project-section .project-page:first-child::before {
    bottom: auto;
    top: 0px;
    transform: translate(-50%, -50%) rotate(0.3deg);
    background-color: var(--darkblue);
}
.project-page.right::after {
    transform: translate(-50%, 50%) rotate(-0.3deg);
}

/* Header */
.project-header {
    font-family: 'Abril Fatface', serif;
    font-size: 3vw;
    text-transform: uppercase;
    position: absolute;
    top: 0px;
    left: var(--defaultpadding);
    transform: translateY(-55%);
    text-shadow:
        -1px 0px 0px lightgray,
        -2px 0px 0px darkgray,
        -3px 0px 0px gray,
        -3px 0px 10px rgba(0, 0, 0, 0.6);
    z-index: 4;
}
.right .project-header {
    right: var(--defaultpadding);
    left: auto;
}

/* Images */
.project-page-img {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    top: 0px;
    left: 0px;
    min-height: 100%;
    height: 100%;
    max-width: 40%;
    overflow: hidden;
    border-right: 0px solid var(--lightgray);
    border-left: 0px solid var(--lightgray);
    padding: 0px;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(0, 0.9, 0.5, 1.4);
    background: black;
}
.project-page-img:hover {
    cursor: pointer;
    border-right: 10px solid var(--lightgray);
}
.right .project-page-img:hover {
    border-right: 0px solid var(--lightgray);
    border-left: 10px solid var(--lightgray);
}
.project-page-img::after {
    opacity: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 0vw;
    content: "\f31e";
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.25s;
    transition-timing-function: cubic-bezier(0, 0.9, 0.5, 1.4);
}
.project-page-img:hover::after {
    opacity: 1;
    font-size: 3vw;
    box-shadow: inset -25px 0px 15px rgba(0, 0, 0, 0.4);
}
.right .project-page-img:hover::after {
    box-shadow: inset 25px 0px 15px rgba(0, 0, 0, 0.4);
}
.project-page-img:hover img {
    transform: scale(1.05);
}
.right .project-page-img {
    right: 0px;
    left: auto;
}
.project-page-img img {
    flex-shrink: 0;
    min-height: 100%;
    min-width: 100%;
    transition: inherit;
    transition-timing-function: cubic-bezier(0, 0.9, 0.5, 1.4);
}

/* Description */
.project-description {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    top: 0px;
    right: 0px;
    color: black;
    max-width: 60%;
    height: 100%;
    padding: var(--defaultpadding);
}
.right .project-description {
    left: 0px;
    right: auto;
    justify-content: flex-start;
}
.project-description .project-info {
    width: 75%;
    color: black;
    font-size: 1.2vw;
    text-align: right;
}
.right .project-description .project-info {
    text-align: left;
}

/* Portrait styling */
@media (orientation: portrait) {
    .project-header {
        font-size: 6vw;
    }
    .project-page-img {
        max-width: 100%;
        max-height: 20%;
    }
    .right .project-page-img:hover,
    .project-page-img:hover {
        border-width: 0px;
    }
    .project-page-img::after {
        justify-content: center;
        align-items: center;
    }
    .project-page-img:hover::after {
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        padding: var(--defaultpadding);
    }
    .right .project-page-img:hover::after {
        justify-content: flex-start;
    }
    .project-page-img img {
        filter: blur(3px) brightness(0.5);
    }
    .project-description {
        pointer-events: none;
        position: absolute;
        max-width: 100%;
        max-height: 80%;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        text-align: center;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .project-description .project-info {
        position: absolute;
        color: white;
        font-size: 2vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        align-self: center;
    }
}