.slider-container {
    background: #fff;
    margin: 3em auto;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.05);
    position: relative;
    display: block;
    height: 80vh;
    padding-bottom: 0px;
    overflow-y: hidden;
}
.slider-container.portrait {
    min-height: 800px;
    max-width: 480px;
    overflow: hidden;
}

.slider {
    position: relative;
    width: inherit;
    overflow: auto;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

.slider ul {
    list-style: none;
    overflow: hidden;
}

.slider li {
    float: left;
    max-width: inherit;
}

.slides {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 300%;
    filter: blur(50px);
    transition: 0.6s;
    transform: rotate(30deg);
    transition-timing-function: cubic-bezier(0.5, 0.9, 0.5, 1.1);
}
.slider img.active {
    filter: blur(0px);
    transform: rotate(0deg);
    left: 0px;
}


.slider-container .slider-prev-button,
.slider-container .slider-next-button {
    position: absolute;
    top: 50%;
    width: 4vw;
    height: 4vw;
    cursor: pointer;
    border-radius: 50%;
    padding: 0px;
    transition: 0.3s;
    opacity: 0.8;
}
.slider-container .slider-prev-button:hover,
.slider-container .slider-next-button:hover {
    transform: translateY(-10%);
    opacity: 1.0;
}
.slider-container .slider-prev-button i,
.slider-container .slider-next-button i {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.9vw;
    color: black;
}

.slider-container .slider-next-button {
    right: var(--defaultpadding);
}
.slider-container .slider-prev-button {
    left: var(--defaultpadding);
}