* {
  padding: 0px;
  margin: 0px;
  color: white;
  font-family: var(--primaryfont);
}

html, body {
  position: relative;
  overflow: hidden;
}
body {
  background-color: var(--lightgray);
}
#main {
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll !important;
  background-color: var(--darkestblue);
  width: calc(100vw - 80px);
  height: calc(100vh - 100px);
  bottom: 40px;
  left: 40px;
  box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.2);
  transform: translateX(-100vw);
}
#main::-webkit-scrollbar {
    display: none;
}
#main::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.7);
}
#main::-webkit-scrollbar-thumb {
  background-color: var(--orange);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

button:focus {
  outline:0;
}

.quarter-page {
  position: relative;
  width: 100%;
  height: 25vh;
}
.half-page {
  position: relative;
  width: 100%;
  height: 50vh;
}
.third-page {
  position: relative;
  width: 100%;
  height: 75vh;
}
.full-page {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.nav-button {
  position: fixed;
  top: 15px;
  right: 40px;
  width: 30px;
  height: 30px;
}
.nav-button .nav-button-piece {
  position: absolute;
  right: 0px;
  width: 80%;
  border: 2px solid var(--orange);
  transform: translateY(-50%);
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);;
}
.nav-button .center-piece {
  top: 50%;
  width: 100%;
}
.nav-button .bottom-piece {
  bottom: 0px;
}
.nav-button .top-piece {
  top: 0px;
  transform: translateY(50%);
}
.nav-button:hover {
  cursor: pointer;
}
.nav-button:hover .nav-button-piece {
  width: 100%;
}
.nav-button:hover .center-piece {
  width: 90%;
}

.fixed-header {
  font-family: 'Staatliches', sans-serif;
  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 20px;
  left: 40px;
}
.fixed-header h1 {
  font-size: 2.5vh;
  padding: 0px;
  margin: 0px;
  color: black;
  text-transform: uppercase;
}